.page {
  &__footer {
    margin-bottom: $global-padding;
    border-bottom: 1px solid $medium-gray;
    border-top: 1px solid $medium-gray;
    &--menu {
      @include flex-align($x:center);
      :first-child a {
        padding-left: 0;
      }
    }
  }
}
