#main-menu {
  background-color: $secondary-color;
  margin-bottom: $global-padding * 2;
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}
.dropdown.menu {
  > li {
    background-color: $secondary-color;
    border-left: 1px solid $global-nav-border-color;
    &:last-child {
      border-right: 1px solid $global-nav-border-color;
    }
    &.is-active a, &:hover {
      background-color: lighten($secondary-color, 5%);
      color: #fff;
    }
    a {
      color: #fff;
      font-size: 1.2rem;
    }
    &.is-dropdown-submenu-parent a:after {
      border-color: #fff transparent transparent;
    }
  }
  .submenu {
    border-width: 0 0 0 0;
    a {
      color: $secondary-color;
    }
    a:hover {
      background-color: lighten($secondary-color, 8%);
    }
  }
}

.mobile {
  .menu {
    li {
      a {
        color: $white;
        background-color: $primary-color;
      }
    }
  }
}
