<div id="c37" class="frame frame-default frame-type-textpic frame-layout-0">
  <header><h2 class="headline">
    Hier mal ein einfaches Inhaltselement mit Bild rechts
  </h2></header>
  <div class="ce-textpic ce-right ce-intext">
    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
      <div class="ce-row">
        <div class="ce-column">
            <figure>
              <img src="assets/img/firefighters-2.jpg" alt="article preview image" />
            </figure>
        </div>
      </div>
    </div>
    <div class="ce-bodytext"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
  </div>
</div>



<div id="c38" class="frame frame-default frame-type-textmedia frame-layout-0">
  <header><h3 class="headline">
    Hier mal ein einfaches Inhaltselement mit Bild links
  </h3></header>
  <div class="ce-textpic ce-left ce-intext">
    <div class="ce-bodytext"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet.<br> &nbsp;</p></div>
    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
      <div class="ce-row">
        <div class="ce-column">
          <figure class="image"><img src="assets/img/firefighters-2.jpg" alt="article preview image" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
