.news {
  &__list {
    &Short {
      &--header {
        margin-bottom: $global-padding;
      }
      &--teaser {
        p {
          margin-bottom: 0;
        }
      }
      &--more {
        display: block;
        text-align: right;
      }
      h3 {
        margin-bottom: 0;
      }
      &--author {
        display: block;
        text-align: right;
        border-top: $prototype-border-width solid $prototype-border-color
      }
    }
  }
}
