.vehicles, .resources {
  &__list {
    &--item {
      @include operations-listItem;
    }
    &--media {
      @include xy-cell(2);
      @include xy-gutters($gutter-type: padding, $gutter-position: top bottom);
      @include operations-listItem-media();
      figcaption {
        @include operations-figcaption-list;
      }
    }
    &--title {
      @include xy-cell('auto');
      @include xy-gutters($gutter-type: padding, $gutter-position: top bottom);
    }
  }
}

.operations {
  &__list {
    &--item {
      @include operations-listItem;
    }
    &--media {
      @include xy-cell($size:1, $gutter-position: bottom left right);
    }
    &--title {
      @include xy-cell($size:11, $gutter-position: bottom left right );
    }
    &--meta {
      @include xy-cell($gutter-type: padding, $gutter-position: top bottom left right);
      @include operations-listItem-meta();
    }
    &--teaser {
      @include xy-cell($gutter-type: padding, $gutter-position: top bottom left right);
    }
  }
}

.operations {
  &__show {
    @include xy-grid();
    @include xy-gutters($negative: 1);
    &--header {
      line-height: 1.2em;
    }
    &--main {
      @include xy-cell($size:12);
      @include breakpoint(medium) {
        @include xy-cell($size:8, $gutter-position: right);
        @include xy-gutters($gutter-position: right);
      }
    }
    &--media {
      margin-bottom: $global-padding;
      &-figure-wrap {
        @include xy-grid();
        @include xy-gutters($negative: 1);
      }
      figure {
        @include xy-cell(6);
        @include breakpoint(medium) {
          @include xy-cell(4, $gutter-position: top bottom left right);
        }
        @include breakpoint(large) {
          @include xy-cell(3, $gutter-position: top bottom left right);
        }
      }
    }
    &--aside {
      @include xy-cell-base();
      @include xy-cell($size: 12);
      @include breakpoint(medium) {
        @include xy-cell($size: auto, $gutter-type: padding, $gutter-position: left);
        border-left: $prototype-border-width solid $prototype-border-color;
      }
      &-number {
        @include xy-grid();
        background-color: get-color(third);
        .text {
          @include xy-cell(auto);
          padding: $global-padding / 2;
        }
        .number {
          background-color: $primary-color;
          color: $white;
          font-weight: $global-weight-bold;
          @include xy-cell(3, $gutter-type: none);
          padding: $global-padding / 2;
        }
      }
      &-meta {
        background-color: $light-gray;
        @include xy-grid();
        @include xy-cell(full, $gutter-type: padding, $gutter-position: left top right);
        h3, h4 {
          border-bottom: 1px solid $prototype-border-color;
          display: block;
          width: 100%;
        }
      }
      &-info {
        background-color: $light-gray;
        @include xy-grid();
        @include xy-cell(full, $gutter-type: padding);
        h3, h4 {
          border-bottom: 1px solid $prototype-border-color;
          display: block;
          width: 100%;
        }
      }
      &-map {
        margin-bottom: $global-padding * 2;
      }
    }
  }
}
