<div class="grid-x">
    <div class="cell">
        <hr />
        <h4 class="headline lead text-center">Die letzten aktuellen Bilder von …</h4>
        <hr />
    </div>
</div>
<div class="last-pictures">
    <div class="last-pictures__big-image">
      <figure class=""><img src="https://picsum.photos/seed/last-1/750/500" alt="main article image"></figure>
    </div>
    <div class="last-pictures__small-images">
      <figure class="last-pictures__small-image">
        <img src="https://picsum.photos/seed/last-2/605/403" alt="article promo image">
      </figure>
      <figure class="last-pictures__small-image"><img src="https://picsum.photos/seed/last-3/605/403" alt="article promo image"></figure>
    </div>
</div>
