<div class="grid-x">
    <div class="cell">
        <hr />
        <h4 class="headline lead text-center">Die letzten aktuellen Bilder von …</h4>
        <hr />
    </div>
</div>
<div class="last-pictures">
    <div class="last-pictures__big-image">
      <figure class=""><img src="assets/img/firefighters-3.jpg" alt="main article image"></figure>
    </div>
    <div class="last-pictures__small-images">
      <figure class="last-pictures__small-image">
        <img src="assets/img/fire-4.jpg" alt="article promo image">
      </figure>
      <figure class="last-pictures__small-image"><img src="assets/img/firefighters-1.jpg" alt="article promo image"></figure>
    </div>
</div>
