body {
    outline: 1px dotted #1a8dff;
}

.layout-page {
  width: 1024px;
  margin: 0 auto;
    outline: 1px solid #78d260;
}

.page__header {
    outline: 1px solid #d10013;
}
.page__footer {
    outline: 1px solid #d10013;
}
.page__content {
    outline: 1px dotted #95acd1;
}

nav ul {
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 8em;
}
