<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="off-canvas-wrapper">
    <div class="off-canvas position-right off-canvas-absolute" id="offCanvas" data-off-canvas data-transition="overlap">
        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
        <f:render section="top-bar" />
        <f:render section="pageHeader" />
        <div class="grid-container fluid" id="main-menu">
            <div class="grid-container">
                <div class="grid-x grid-padding-x medium-8">
                    <f:render section="menuMain" />
                </div>
            </div>
        </div>
        <div class="grid-container main-content">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <f:render section="column-0" />
                </div>
            </div>
        </div>
        <footer class="grid-container page__footer">
            <f:render section="pageFooter" />
        </footer>
    </div>
</div>

</html>
