<header class="page__header-wrap grid-container fluid">
    <div class="grid-container">
        <!-- logo -->
        <div class="grid-x page__header">
            <div class="small-3 large-4 cell page__header--left">
                <f:if condition="{settings.pageLogo.path}">
                    <f:image src="{settings.pageLogo.path}" class="lgoo" alt="{setttings.pageLogo.alternative}" width="{settings.pageLogo.width}" />
                </f:if>
            </div>
            <div class="small-8 small-offset-1 large-offset-0 cell page__header--right">
                <f:if condition="{pageMedia}">
                    <f:image image="{pageMedia.0}" alt="{pageMedia.0.alternative}" />
                </f:if>
            </div>
        </div>
        <!-- / logo -->
    </div>
</header>
