@mixin operations-listItem() {
  background-color: $color-background-list;
  margin-bottom: $global-padding;
  a {
    @include xy-grid;
    color: inherit;
    &:hover {
      background-color: darken($color-background-list,5) ;
    }
  }
}
@mixin operations-listItem-media($align: 'center') {
  text-align: #{$align};
}

@mixin operations-figcaption-list() {
  font-size: 60%;
}
@mixin operations-listItem-meta() {
  font-size: .8em;
  color: $black;
}
