$font-size-figcaption: rem-calc(14);

@mixin fbt-figcaption() {
  font-size: $font-size-figcaption;
  font-style: italic;
}

figcaption {
  @include fbt-figcaption();
}

h1, h2, h3, h4 {
  word-break: break-word;
}
